/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

.search-field {
    appearance: none;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px black solid;
    box-shadow: 2px 2px 0 black;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

.search-submit,
button,
input[type="submit"] {
    appearance: none;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-family: 'Oswald', sans-serif;
    transform: translate(0);
    transition: 0.3s;

    &:hover {
        transform: translate(0, 2px);
    }
}

textarea {
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    border: 1px black solid;
    box-shadow: 2px 2px 0 black;
    display: block;
}