@font-face {
  font-family: 'Arbutus Slab';
  src: url('../fonts/arbutusslab-regular-webfont.woff2') format('woff2'), url('../fonts/arbutusslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald-variablefontwght-webfont.woff2') format('woff2'), url('../fonts/oswald-variablefontwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
